.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal-content {
  position: relative;
  background-color: whitesmoke;
  padding: 20px;
}
.close-icon {
  font-size: 24px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 50%;
}
